@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Poppins', sans-serif;
}

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
}
.container
{
    /*background: linear-gradient(to bottom, #ff0000, #0000ff);*/
    /*background: radial-gradient(circle, #ff0000, #0000ff);*/
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0 ,0, 0.1);
}



.ProfileText
{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 1px rgba(red, green, blue, 0.2);
}
.ProfileText h2 
{ 
    color : #fff;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    font-style: italic;
    line-height: 1.4em;
    color: rgb(21, 212, 4);
}

.ProfileText h2 span
{ 
    font-size: 0.7em;
    font-weight: 300; 
}

.title
{
    color : #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.container  .left_Side
{
position: relative;
background: #16023d;
padding: 40px;
}
.container  .right_Side
{
position: relative;
/*background: #e8e9ae;*/
background: linear-gradient(to bottom, #b4dcdf, #92b82a);
padding: 40px;
}

.ProfileText  .ImgBx 
{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.ProfileText  .ImgBx img
{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactInfo
{
    position:relative;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    font-size:  smaller;
}

.contactInfo h3 .title {
    color: red   /* #ff0000;*/
}
.contactInfo ul 
{
    position :relative; 
   /* padding-left: 0px;
    padding-right: 0;*/

}

.contactInfo ul li 
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    width: 200px;
}

.contactInfo ul li .icon
{
    display : inline-block;
    width: 20px;
    font-size: 18px;
    color:#8cf403d7; 
}

.contactInfo ul li span
{
    color:rgb(15, 182, 15) ; 
    font-weight: 500;
    text-size-adjust:5px ;
    font-size: smaller;
}


.DiplomeAusbildungen
{

    position:relative;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    font-size:  smaller;
    color :rgb(0, 5, 0); 
}

.DiplomeAusbildungen  .Diplome
{

    position:relative;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    font-size:  small;
    font-weight:300  ;
    color :rgb(7, 133, 7); 
}   


.DiplomeAusbildungen h3 h4 .soustitle

{
    font-size:  small;
    font-weight:300  ;
    color :rgb(34, 7, 133); 
    text-transform: uppercase;
}   

.DiplomeAusbildungen h3 

{
    font-size:  small;
    font-weight: 900;
    color :rgb(34, 7, 133); 
    text-transform: uppercase;

}   

.DiplomeAusbildungen  h4 

{
    font-size:  small;
    font-weight:900  ;
    color :rgb(64, 33, 238); 
    /*text-transform: uppercase;*/
} 


.DiplomeAusbildungen  .Formation
{
    font-size:  small;
    font-weight:600  ;
    color :rgb(61, 35, 207);
}

.DiplomeAusbildungen  .Formation ul 
{
    list-style-type: none;
    padding: 0;
    margin : 0;
}